body {

}

p {
    margin-left: 20px;
}

footer{
	position: fixed;
	Width: 100%;
	bottom: 0;
}

#selectorCard{
	padding:.7cm .5cm 1.78cm 1cm;
}
#footerSpacer{
	width: 20px;
	background-color: white;
}
#patientTable{
    width: 800px;
    height: 450px;
    overflow-y: scroll;
}

.highlight{
	background: yellow;
}

.reset{
	background: white;
}

.spacer{
	padding:.21cm .5cm 1.78cm 1cm;
}

.smallSpacer{
	padding:.1cm .1cm .1cm .1cm;
}